<main id="main" class="main">
    <div class="pagetitle text-center">
        <h1>Executive Dashboard</h1>
    </div>
    <section class="section dashboard">
        <div class="row">
            <div class="col-lg-12">
                <div class="row">
                    <div *ngFor="let data of chartData?.data" class="col-xxl-3 col-md-6 col-xs-12">
                        <!-- calling card component  -->
                        <app-card [source]="data"></app-card>
                    </div>
                </div>
                <div class="row">

                    <div class="col-xxl-4 col-md-12 col-xs-12">
                        <!-- calling shared component donut chart -->
                        <app-donut-chart [source]="chartData.donutChartData"></app-donut-chart>
                    </div>
                    <div class="col-xxl-4 col-md-12 col-xs-12">
                        <!-- calling shared component stacked bar chart -->
                        <app-stacked-barchart [source]="chartData.stackedBarChartData"></app-stacked-barchart>
                    </div>

                    <div class="col-xxl-4 col-md-12 col-xs-12">
                        <!-- calling shared component donut chart -->
                        <app-stacked-barchart-second [source]="chartData.secondData"></app-stacked-barchart-second>
                    </div>
                </div>
            </div>
        </div>
    </section>

</main>